/* style.css */
.img {
    height: auto;
    width: 250px
}

.general {
    font-family:'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.general.header {
    color: #a8520f;
}

.general.header2 {
    color:#cc732d;
}

.general.header3 {
    color:#de823a;
}